{% extends "base/main.html" %} {% block content %}

<section class="display-matches-container">
  <div class="match-header">
    <span>{{league_name}}</span>
    <span>{{start_time}}</span>
  </div>
  <div class="match-body">
    <h3>
      <span class="team">{{home}}</span> VS
      <span class="team">{{away}}</span>
    </h3>
  </div>
</section>

<!-- Tabs -->
{% include "base/back_button.html" %} {% include "base/tabs.html" %}

<!-- Last Games -->
<section class="ai-section">
  <h3>AI Insight</h3>

  <div class="ai-block">
    <!-- <h4>What is Lorem Ipsum?</h4> -->
    <p style="white-space: pre-line">{{ai_insight}}</p>
  </div>
</section>

{% endblock content %}
