{% extends "base/main.html" %} {% block content %}

<section class="display-matches-container">
  <div class="match-header">
    <span>{{league_name}}</span>
    <span>{{start_time}}</span>
  </div>
  <div class="match-body">
    <h3>
      <span class="team">{{home}}</span> VS
      <span class="team">{{away}}</span>
    </h3>
  </div>
</section>

<!-- Tabs -->
{% include "base/back_button.html" %}
{% include "base/tabs.html" %}

<!-- Last Games -->
<section class="games-section">
  <!-- <h4>Away Team Last Games</h4> -->
  <div class="games-list">
    {% for match in head_to_head %}

    <div class="game-card">
      <span>{{match.date}}</span>
      <span>{{match.home}}</span>
      <span>{{match.score}}</span>
      <span>{{match.away}}</span>
      <span>{{match.half_score}}</span>
    </div>

    {% endfor %}
  </div>
</section>

{% endblock content %}
