{% extends "base/main.html" %} {% block content %}

<section class="display-matches-container">
  <div class="match-header">
    <span>LEAGUE NAME</span>
    <span>5.00PM</span>
  </div>
  <div class="match-body">
    <h3>
      <span class="team">HOME TEAM</span> VS <span class="team">AWAY TEAM</span>
    </h3>
  </div>
</section>

<!-- Tabs -->
<div class="tabs">
  <button class="tab active">Last Games</button>
  <button class="tab">Head to Head</button>
  <button class="tab">Standings</button>
  <button class="tab">AI Prediction</button>
</div>

<!-- Last Games -->
<section class="games-section">
  <h4>Home Team Last Games</h4>
  <div class="games-list">
    <div class="game-card">
      <span>date</span>
      <span>HOME TEAM</span>
      <span>SCORE</span>
      <span>AWAY TEAM</span>
      <span>ht-score</span>
    </div>
    <div class="game-card">
      <span>date</span>
      <span>HOME TEAM</span>
      <span>SCORE</span>
      <span>AWAY TEAM</span>
      <span>ht-score</span>
    </div>
    <div class="game-card">
      <span>date</span>
      <span>HOME TEAM</span>
      <span>SCORE</span>
      <span>AWAY TEAM</span>
      <span>ht-score</span>
    </div>
    <div class="game-card">
      <span>date</span>
      <span>HOME TEAM</span>
      <span>SCORE</span>
      <span>AWAY TEAM</span>
      <span>ht-score</span>
    </div>
    <div class="game-card">
      <span>date</span>
      <span>HOME TEAM</span>
      <span>SCORE</span>
      <span>AWAY TEAM</span>
      <span>ht-score</span>
    </div>
  </div>
</section>

<section class="games-section">
  <h4>Away Team Last Games</h4>
  <div class="games-list">
    <div class="game-card">
      <span>date</span>
      <span>HOME TEAM</span>
      <span>SCORE</span>
      <span>AWAY TEAM</span>
      <span>ht-score</span>
    </div>
    <div class="game-card">
      <span>date</span>
      <span>HOME TEAM</span>
      <span>SCORE</span>
      <span>AWAY TEAM</span>
      <span>ht-score</span>
    </div>
    <div class="game-card">
      <span>date</span>
      <span>HOME TEAM</span>
      <span>SCORE</span>
      <span>AWAY TEAM</span>
      <span>ht-score</span>
    </div>
    <div class="game-card">
      <span>date</span>
      <span>HOME TEAM</span>
      <span>SCORE</span>
      <span>AWAY TEAM</span>
      <span>ht-score</span>
    </div>
    <div class="game-card">
      <span>date</span>
      <span>HOME TEAM</span>
      <span>SCORE</span>
      <span>AWAY TEAM</span>
      <span>ht-score</span>
    </div>
  </div>
</section>

{% endblock content %}
