{% extends "base/main.html" %} {% block content %}

<section class="display-matches-container">
  <div class="match-header">
    <span>{{league_name}}</span>
    <span>{{start_time}}</span>
  </div>
  <div class="match-body">
    <h3>
      <span class="team">{{home}}</span> VS
      <span class="team">{{away}}</span>
    </h3>
  </div>
</section>

<!-- Tabs -->

{% include "base/back_button.html" %} {% include "base/tabs.html" %}

<!-- Last Games -->
<section class="games-section">
  <h4>Home Team Last Games</h4>
  <div class="games-list">
    {% for match in home_last_matches %}
    <div class="game-card">
      <div>
        <p>{{match.date}}</p>
      </div>
      {% if match.home == home %}
      <div>
        <p class="bold-name">{{match.home}}</p>
      </div>
      {% else %}
      <div>
        <p>{{match.home}}</p>
      </div>
      {% endif %}
      <div class="score-container">
        <p class="score">{{match.score}}</p>
      </div>
      {% if match.away == home %}
      <div>
        <p class="bold-name">{{match.away}}</p>
      </div>
      {% else %}
      <div>
        <p>{{match.away}}</p>
      </div>
      {% endif %}
      <div class="score-container">
        <p>{{match.half_score}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="games-section">
  <h4>Away Team Last Games</h4>
  <div class="games-list">
    {% for match in away_last_matches %}

    <div class="game-card">
      <div>
        <p>{{match.date}}</p>
      </div>
      {% if match.home == away %}
      <div>
        <p class="bold-name">{{match.home}}</p>
      </div>
      {% else %}
      <div>
        <p>{{match.home}}</p>
      </div>
      {% endif %}
      <div class="score-container">
        <p class="score">{{match.score}}</p>
      </div>
      {% if match.away == away %}
      <div>
        <p class="bold-name">{{match.away}}</p>
      </div>
      {% else %}
      <div>
        <p>{{match.away}}</p>
      </div>
      {% endif %}
      <div class="score-container">
        <p>{{match.half_score}}</p>
      </div>
    </div>

    {% endfor %}
  </div>
</section>

{% endblock content %}
