{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WinKick - Football Prediction App</title>
    <link rel="stylesheet" href="{% static "src/style.css" %}" /> <link
    rel="stylesheet" href="{% static "src/last_matches.css" %}" /> <link
    rel="stylesheet" href="{% static "src/standings.css" %}" /> <link
    rel="stylesheet" href="{% static "src/ai.css" %}" />
  </head>
  <body>
    {% include "base/header.html"%} {% block content %} {% endblock content %}
  </body>
</html>
